<!-- profile page for piano roll app -->

<!doctype html>

<html>

<head>
    <title> <%= user.local.username %>'s profile - Piano Roll Online </title>
    <script src="external/jquery.min.js"></script>
</head>

<style>
    body{
        font-family: Arial;
    }
    
    #avatar{
        text-align: center;
    }
    
    #userFacts{
        float:left;
        height: 100%;
        width: 15%;
    }
    
    #scores{
        float:left;
        text-align:center;
        /* border-left: 1px solid #000; */
        width: 70%;
        height: 100%;
    }
    
    #header{
        text-decoration: underline;
    }
    #avatar{
        display: block;
        height: 150px;
        width: 150px;
        border: 1px solid #000;
    }
    
    #container{
        margin-left: 2%;
    }
    
    #toggleEdit{
        cursor: pointer;
    }
    
    #toggleEdit:hover, #logout:hover{
        color: #5d6066;
    }
    
    .scoreList > *{
        display: inline-block;
    }
    
    .delete:hover{
        color: #f00;
        cursor: pointer;
    }
    
    a{
        text-decoration: none;
        color: #000;
    }
    
    a:hover{
        color: #5d6066;
    }
</style>


<body>

<div id='container'>

    <!-- basic info about user -->
    <section id='userFacts'>
        <h2> welcome back <%= user.local.username %> </h2>
        
        <div id='avatar'>
            <p> avatar feature in progress...</p>
        </div>
        
        <div id='locationField'>
            <h3 id='locationText'> location: <%=  user.local.location %> </h3>
        </div>
        
        <h3> joined: <%= user.local.joinDate %> </h3>
        
        <br>
        
        <div id='about'>
            <h3> about </h3>
                <div id='aboutField'>
                    <p id='aboutText'> <%=  user.local.about %> <p>
                </div>
            <hr />
        </div>
        
        <br>
        
        <nav>
            <h4> <a href="/pianoRoll"> go to piano roll </a> </h4>
            <!-- <h4> <a href=""> check out public scores </a> </h4> -->
            <h4 id="toggleEdit" onclick="editProfile()"> edit profile </h4>
            <h4 id="logout"><a href="/logout"> logout </a></h4>
        </nav>
        
    </section>
    
    <!-- the user's scores -->
    <section id='scores'>
        <h3 id='header'> your scores </h3>
        <!-- some container with columns and rows to display scores for user -->
        <div>
            <% for(var i = 0; i < user.local.scores.length; i++){ %>
                <div class="scoreList" id=<%=  user.local.scores[i].title %>>
                    <h3> <%=  user.local.scores[i].title %> </h3>
                    <p> | </p>
                    <p class="delete" onclick="deleteScore(this.parentNode.id)"> delete </p>
                </div>
            <% } %>
        </div>
    </section>
    
</div>
    
</body>

</html>